.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
}

.daylabel {
    align-self: end;
}
  
.event-badge {
    color: red;
} 

.logo-image {
    width: 30px;
    height: 30px;
    overflow: hidden;
    padding-right: 5px;
}

.btn-static {
    background-color: white;
    border: 1px solid lightgrey;
    cursor: default;
}

.btn-static:active {
    -moz-box-shadow: inset 0 0 0px white;
    -webkit-box-shadow: inset 0 0 0px white;
    box-shadow: inset 0 0 0px white;
}


.btn-medal {
    border-radius: 50%;
    background-color: gold;
}

/* Header Image Container holding the image and the text */
.hicontainer {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .itbottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .ittop-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .ittop-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .itbottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .itcentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }