<!--This is the Home page of the site-->

{% extends "base.html" %}

{% block body %}
<!--This is the home page -->
<div class="containter">
    <div class="jumbotron text-center">
        <h1>OT Senior Pages</h1>
        This is a site for Seniors at Oakland Technical High School <br>
        You can only access this site if you have an OUSD.org email address
    </div>
    <div class="row">
        <div class="col">
            {% if pages and 'credentials' in session %}
            <h3>Pages</h3>
                {% for page in pages %}
                    <a href="/page/{{page.id}}">{{page.owner.fname}} {{page.owner.lname}}</a> <br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}
