<!--This is the Home page of the site-->

{% extends "base.html" %}

{% block body %}
<!--This is the home page -->
<div class="containter">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col">
                <h1>OT Senior Pages</h1>
                {% if not session['issenior'] and session['role'] != "teacher" and not session['isadmin'] %}
                This is a site for Seniors at Oakland Technical High School <br>
                You can only access this site if you have an OUSD.org email address <br>
                {% endif %}
                {% if session['issenior'] or session['role'] == "teacher" or session['isadmin'] %}
                <a href="/editprofile" class="btn btn-info btn-lg" role="button">Edit your profile</a> &nbsp; &nbsp; &nbsp; 
                <a href="/ybook" class="btn btn-info btn-lg" role="button">Edit Your Senior Page</a>
            </div>
            <div class="col">
                <h1>Announcements</h1>
                {% if announcement %}
                    <b>{{announcement.subject}}</b><br>
                    <small>{{announceBody}}</small>
                {% else %}
                    (No Announcements)
                {% endif %}
                <br> <a href="/posts" class="btn btn-info btn-sm" role="button">All Announcements</a>
                {% if session.admin %}
                    <br> <a href="/newpost" class="btn btn-info btn-sm" role="button">New Announcement</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if pages %}
            <h3>Pages</h3>
            <table>
                {% for page in pages | sort(attribute='owner.glname') %}
                <tr>
                    <td>
                        {% if page.owner.image %}
                            <img class="img-thumbnail" width="50" src="data:image;base64,{{base64encode(page.owner.image.read())}}">
                        {% else %}
                            <img class="img-thumbnail" width="50" src="/static/oths.jpg">
                        {% endif %}
                        &nbsp;
                    </td>
                    <td>
                        <a href="/page/{{page.id}}">{{page.owner.fname}} {{page.owner.lname}}</a> <br>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}
