{% extends 'base.html' %}
<script>
    function updateDiv() { $( "#here" ).load(location.href + " #here" ); }
</script>

{% block body %}
<div class="container">
    <div class="hicontainer">
        {% if page.headerimage %}
            <img class="img-fluid" src="data:image;base64,{{base64encode(page.headerimage.read())}}">
        {% else %}
            No header image yet
        {% endif %}
        <div class="itcentered">
            <p class="text-center text-white display-3">{{page.title}}</p>
        </div>
    </div>
    <hr>
    {{page.description}} 
    <hr>
    <div class="row">
        <div class="col">
    {% if page.image1 %}
        <img class="img-fluid" src="data:image;base64,{{base64encode(page.image1.read())}}"> <br>
        <p>Caption?</p>
    {% endif %}
    {% if page.image2 %}
        <img class="img-fluid" src="data:image;base64,{{base64encode(page.image2.read())}}"> <br>
        <p>Caption?</p>
    {% endif %}
        </div>
        <div class="col">
    {% if page.image3 %}
        <img class="img-fluid" src="data:image;base64,{{base64encode(page.image3.read())}}"> <br>
        <p>Caption?</p>
    {% endif %}
    {% if page.image4 %}
        <img class="img-fluid" src="data:image;base64,{{base64encode(page.image4.read())}}"> <br>
        <p>Caption?</p>
    {% endif %}
        </div>
    </div>
    <div class="row here">
        <div class="col">
            {% if form %}
                <form method=post>
                    {{ form.hidden_tag() }}
                    {{form.content(rows='3',cols='50')}} <br>
                    {{form.submit()}}
                </form>
            {% else %}
                <a href="/sign/{{page.id}}" class="btn btn-primary btn-sm" role="button">Sign</a> <br>
            {% endif %}
            {% if signs %}
            <table>
                {% for sign in signs %}
                <tr>
                    <td>
                        {% if sign.owner.image %}
                            <img class="img-thumbnail" width="100" src="data:image;base64,{{base64encode(sign.owner.image.read())}}"> 
                        {% else %}
                            <img class="img-thumbnail" width="100" src="/static/oths.jpg">
                        {% endif %}
                    </td>
                    <td>
                        <em>{{sign.owner.fname}} {{sign.owner.lname}}:</em> {{sign.content}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}