{% extends 'base.html' %}

{% block body %}
    <h1>Yearbook for {{ ybook.owner.fname }} {{ ybook.owner.lname }} </h1>
    Status: {{ ybook.status }} <br>
    Title: {{ ybook.title }} <br>
    <a href="/editybook">(Edit)</a> <br>

    <a href="/newpage" class="btn btn-primary btn-sm" role="button">New Page</a> <br>

    {% if pages %}
        {% for page in pages %}
            {{page.title}} <br>
            Photo: <img width = "200" src="data:image/jpeg;base64,{{base64encode(page.headerimage.read())}}"> <br>
            {{page.headerimage.content_type}} <br>
        {% endfor %}
    {% endif %}

{% endblock %}