{% extends 'base.html' %}

{% block body %}
    {% for error in form.errors %}
    {{ error }}: {{form.errors[error]}}
    {% endfor %}

    <form method=post enctype="multipart/form-data">
        {{ form.hidden_tag() }}{{form.title.label}}: {{form.title(size = '50')}} <br>
        {{form.status.label}}: {{form.status()}} <br>
        Statement: <br> {{form.description(rows=6, cols=100)}} <br>

        <b>Header Image</b> <br>
        {% if page %}
            <img class="img-thumbnail" width="200" src="data:image;base64,{{base64encode(page.headerimage.read())}}">
        {% endif %}
        {{form.headerimage()}} <br>

        <table class="table">
            <tr>
                <td>
                    <b>Image 1</b> <br>
                    {% if page %}
                        <img class="img-thumbnail" width="200" src="data:image;base64,{{base64encode(page.image1.read())}}">
                    {% endif %}
                    {{form.image1()}} <br>
                </td>
                <td>  
                    <b>Image 3</b><br>
                    {% if page %}
                        <img class="img-thumbnail" width="200" src="data:image;base64,{{base64encode(page.image3.read())}}">
                    {% endif %}
                    {{form.image3()}} <br>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Image 2</b> <br>
                    {% if page %}
                        <img class="img-thumbnail" width="200" src="data:image;base64,{{base64encode(page.image2.read())}}">
                    {% endif %}
                    {{form.image1()}} <br>
                </td>
                <td>  
                    <b>Image 4</b><br>
                    {% if page %}
                        <img class="img-thumbnail" width="200" src="data:image;base64,{{base64encode(page.image4.read())}}">
                    {% endif %}
                    {{form.image3()}} <br>
                </td>
            </tr>
        </table>
        {{form.submit()}}
    </form>

{% endblock %}