{% extends 'base.html' %}

{% block body %}

    {% if page %}
        <table class="table">
            <tr>
                <td colspan="2">
                    <a href="/page/{{page.id}}" class="btn btn-primary btn-sm" role="button">View Page</a> &nbsp;&nbsp;&nbsp;
                    <a href="/editpage/{{page.id}}" class="btn btn-primary btn-sm" role="button">Edit Page</a> &nbsp;&nbsp;&nbsp;
                    <a href="/deletepage/{{page.id}}" class="btn btn-primary btn-sm" role="button">Delete Page</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Title: {{page.title}}</b> <br> 
                    Status: {{page.status}}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img width = "400" src="data:image;base64,{{base64encode(page.headerimage.read())}}">
                </td>
            </tr>
            <tr>
                <td colspan="2">{{page.description}}</td>
            </tr>
            <tr>
                <td><img width = "200" src="data:image;base64,{{base64encode(page.image1.read())}}"></td>
                <td><img width = "200" src="data:image;base64,{{base64encode(page.image3.read())}}"></td>
            </tr>
            <tr>
                <td><img width = "200" src="data:image;base64,{{base64encode(page.image2.read())}}"></td>
                <td><img width = "200" src="data:image;base64,{{base64encode(page.image4.read())}}"></td>
            </tr>
        </table>
            <hr>
    {% else %}
        <a href="/newpage" class="btn btn-primary btn-sm" role="button">New Page</a> <br>
    {% endif %}


{% endblock %}