{% extends 'base.html' %}

{% block body %}

    {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="alert alert-error">
                <strong>Error!</strong>{{field}}: {{error}}
            </div>
        {% endfor %}
    {% endfor %}
    <form method="post">
        {{ form.hidden_tag() }}
        {{form.imagename.label}}: {{form.imagename()}} <br>
        {{form.image.label}}: {{form.image()}} <br>
        {{form.imagecaption.label}}: {{form.imagecaption()}} <br>
        {{form.submit()}}
    </form>

{% endblock %}